@import url(https://fonts.googleapis.com/css?family=Lato);
.icon {
  background-image: url(../../assets/headcount-icon.svg); }

.header {
  background-image: linear-gradient(to right, #e64f40, #EF6544);
  padding: 25px;
  font-size: 130%;
  display: flex;
  align-items: center; }

h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: inline-block; }

img {
  height: 45px;
  width: auto;
  display: inline-block;
  margin-right: 1%; }
