@import url(https://fonts.googleapis.com/css?family=Lato);
input {
  background-color: #F38C73;
  border: none;
  font-size: 120%;
  height: 42px;
  color: #fff;
  padding: 5px 80px 5px 10px;
  margin: -64px 20px 10px 10px;
  border-radius: 5px;
  outline: #fff;
  float: right;
  font-family: 'Lato', sans-serif; }

input::placeholder {
  color: #fff; }

.search-icon {
  float: right;
  margin-top: -56px;
  padding-right: 20px;
  height: 24px; }
