@import url(https://fonts.googleapis.com/css?family=Lato);
.footer {
  background-image: linear-gradient(to right, #e64f40, #EF6544);
  padding: 25px; }

button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  margin: 0 auto;
  display: block;
  width: 160px;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase; }
